:root {
    --text-color: #f8f8f2;
    --prompt-color: #8be9fd;
    --error-color: #ff5555; 
    --link-color: #bd93f9;  
    --terminal-bg-color: rgba(40, 42, 54, 0.85);

    --neon-shadow-color: #fc52b2;
    --neon-shadow-color-light: #757575;
}